<div class="page-header text-primary text-center">
  <h1>Your Blogs</h1>
</div>
<div class="text-right">
<%= link_to 'new blog', new_article_path %>
</div>
 <br/>
<div>
  <table class="table table-hover">
    <tr class="active">
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
    <tr class="success">
    </tr>
    <tr class="warning"></tr>
    <tr class="danger"></tr>
    <tr class="info"></tr>
  </table>
</div>
