<div class="page-header text-primary text-center">
  <h1>Your Post</h1>
</div>
<div class="text-right">
 <a class="nav-link text-right" href='/articles/new'>New Blog</a>
</div>
 <br/>
<div>
  <table class="table table-hover">
    <tr class="active">
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
    <%@articles.each do |item| %>
      <tr class="info">
        <td><%=link_to item.title, article_path(item)%></td>
        <td><%=item.text.truncate(100)%></td>
      </tr>
    <% end %>  
  </table>
</div>
