<div class="col-md-12">
  <div class="text-center"><h1 class="text-primary"><%=@article.title%></h1></div>
  <div class="pull-left">
    <img src="/uploads/<%=@article.id%>/main.jpg"  alt="your image" class="img-thumbnail" style="height: 300px; float: left; margin-right: 10px;"/>
    <div><%=@article.text%></div>
  </div>
  <a class="nav-link text-right" href='/articles'>Back</a>
</div>